:root {
    --media-query-breakpoint: 480px;
}

.home {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;

}

.box-navbar {
    border-radius: 10px;
}

.box-body {
    border-radius: 10px;
}

.home-container {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 50px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.list-inline {
    align-self: flex-end;
}

.list-inline-item a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s;
    margin: 10px;
}

.list-inline-item a:hover,
.list-inline-item a:focus {
    border-bottom-color: #4a01ff;
    border-width: 3px;
    padding-bottom: 3px;
}


.color-icon {
    color: #4a01ff;
    font-size: 20px;
    margin-right: 10px;
}

.color-icon-trast {
    font-size: 20px;
    margin-right: 10px;
}

.new-carpeta {
    padding: 10px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    margin: 10px;

}

.new-video {
    padding: 10px;
    background-color: #4a01ff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
}

.icon-new {
    margin-right: 7px;
}

.container-search {
    margin-bottom: 50px;
    margin-left: -10px;
}

.box-title {
    border-bottom: 1px solid #ccc;
    justify-content: flex-end;
}

.data-col-name {
    margin-left: -20px;
}

.select-name {
    margin-right: 40px;
    margin-left: 15px;
}


.ml-n2 {
    margin-left: -0.9rem;
    white-space: nowrap;
}

.data-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

.data-item {
    padding: 12px;
}

.box-data {
    border-bottom: 1px solid #ccc;
    margin-left: -40px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.data-name {
    margin-left: -20px;
}

.name-data {
    padding: 5px;
}

.select {
    margin-right: 30px;
}



@media (max-width: 480px) {
    .home {
        display: block;
        background-color: white;
    }

    .data-col-name {
        padding-left: -40px;
    }

    .options {
        display: block;
    }

    .list-inline {
        align-self: flex-start;
    }

    .buttons-video {
        display: flex;
        align-self: flex-start;
    }

    .ml-n2 {
        margin-left: 0px;
        white-space: normal !important;
    }

    .select-name {
        display: none;
    }

    .box-title {
        width: 330px;
    }

    .select {
        margin-right: 7px !important;
        font-size: 15px;
    }

    .data-name {
        margin-right: 10px;
    }

    .data-item {
        font-size: 14px !important;
        padding: 0px;
        width: 300px;
    }

    .box-body {
        width: 554px;
    }

    .color-icon {
        font-size: 12px !important;
    }
}

@media (min-width: 768px) and (max-width: 1080px) {
    .box-body {
        margin-left: -100px !important;
    }

}

@media (min-width: 1920px) {
    .box-navbar {
        margin-right: 500px;
    }

    .box-body {
     position: relative;
     left: -500px !important;
     padding-left: 200px;
    }
    .home-container {
        width: 1400px !important;
    }
    .home {
        width: 1300px;
    }
}