.card.card-storage {
    border: none;
    top: 40px;
}

.card-body {
    background-color: lightgray;
    border-radius: 20px;
    height: auto;
}

.data-value{
    font-size: 10px;
    color:  rgb(94, 91, 91);
}

p{
    font-size: 10px;
    color:  rgb(94, 91, 91);
}

.text-muted{
    padding: 0px;
}

.custom-progress-bar .progress-bar {
    background-color: #4a01ff;

}

.progress-data{
    display: flex;
    align-items: center;

}

.admi-button {
    background-color: #4a01ff;
    width: 170px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    color: white;
}