.card.card-storage {
    border: none;
    top: 70px;
}

.card-body {
    background-color: lightgray;
    border-radius: 20px;
}

p{
    font-size: 12px;
    color:  rgb(94, 91, 91);
}

.custom-progress-bar .progress-bar {
    background-color: #4a01ff;
}

.text-muted{
    padding-top: 10px;
}

.admi-button {
    background-color: #4a01ff;
    width: 160px;
    border: none;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    color: white;
}


