:root {
    --media-query-breakpoint: 480px;
}

.details {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.box-details{
    border-radius: 10px;
}

.box-navbar {
    border-radius: 10px;
}

.details-container {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 50px;
}

.route-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: -50px;
}

.back-link {
    text-decoration: none;
    color: #4a01ff;
    display: flex;
    align-items: center;
}

.back-arrow {
    margin-right: 15px;

}

.back-arrow-name{
    font-size: 19px;
    font-weight: bold;
}

.divider {
    margin: 0 5px;
    color: #555;
    font-size: 21px;
}

.back-link{
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.data-details-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

.data-details-item {
    padding: 12px;
}

.options {
    margin-bottom: 20px;
}

.data-details-name {
    margin-left: -20px;
}

.data-item-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.icon-arrow {
    background-color: white;
    color: #4a01ff;
    font-size: 35px;
}

.box-title-details {
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
    justify-content: flex-end;
}

.box-data-details {
    border-bottom: 1px solid #ccc;
    margin-left: -40px;
}

.data-details-col-name {
    margin-left: -20px;
}

.select {
    margin-right: 30px;
}

.select-name {
    margin-right: 40px;
    margin-left: 15px;
}

.select-name:checked {
    background-color: #4a01ff;
    outline: none;
}

.ml-n2 {
    margin-left: -0.9rem;
    white-space: nowrap;
}

.name-data-details {
    padding: 5px;
}

.color-icon {
    color: #4a01ff;
    font-size: 20px;
    margin-right: 10px;
}


@media (max-width: 480px) {  
    .details-container {
        width: 100%;
        padding-left: 35px;
    }  
    .select {
        margin-right: 7px !important;
        font-size: 15px;
    }

    .data-details-item-last {
        right: -50px;
    }
    .name-data-details {
        margin-right: 10px;
    }
    
    .data-details-item {
        font-size: 14px !important;
        padding: 0px;
        width: 300px;
    }

    .box-details {
        width: 554px;
    }
    .details {
        display: block;
        background-color: white;
    }
    .box-title-details {
        padding: 0px;
        width: 300px;

    }
    .data-details-col-name {
        padding-left: -40px;
    }

    .data-col-title {
        margin-left: -30px;
    }

    .ml-n2 {
        margin-left: 0px;
        padding: 0px;
        white-space: normal !important;
        margin-left: 10px;
    
    }

}


@media (min-width: 1920px) {
    .box-navbar {
        margin-right: 500px;
    }

    .box-details {
     position: relative;
     left: -500px !important;
     padding-left: 200px;
    }
    .details-container {
        width: 1400px !important;
    }
    .details {
        width: 1300px;
    }
}
