.menu {
    height: 870px;
}

.navbar-logo {
    text-align: center;
    padding-top: 40px;
}

.icon-player {
    width: 70px;
    height: auto;
    margin-bottom: 20px;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    margin-left: 20px;
}

.navbar-nav li {
    margin-right: 40px;
    padding: 10px;
}

.navbar-nav li:hover {
    background-color: #560cfd;
    border-radius: 10px;
}


.icons-nav {
    margin-right: 20px;
}
